* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 13%, 13%);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.nav {
  display: none;
  /* visibility: hidden; */
  color: hsl(220, 13%, 13%);
}
li {
  list-style-type: none;
}

.cart img {
  color: hsl(220, 13%, 13%);
  width: 30px;
  height: 30px;
}

.avatar {
  height: 30px;
  width: 30px;
}

.ShoppingCart {
  display: flex;
  font-size: 16px;
  width: 85%;
  border: 0.5px solid hsl(223, 64%, 98%);
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  margin: 10px;
  padding: 5px;
}
.specific-product-page {
  display: flex;
  flex-direction: column;
}

.product-image {
  height: 100%;
  width: 100%;
}

h3 {
  margin: 10px;
  font-size: small;
  font-weight: 400;
  color: hsl(26, 100%, 55%);
}
h2 {
  margin: 10px;
}
p {
  margin: 10px;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  font-size: 16px;
}

.price-container {
  display: flex;
  align-items: center;
}
.discounted-price {
  margin: 10px;
  padding-right: 5px;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 18px;
}
.discount {
  margin: 5px;
  width: 40px;
  border: 1px solid hsl(25, 100%, 94%);
  border-radius: 5px;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: 700;
}
.original-price {
  margin-left: 175px;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  color: hsl(220, 13%, 13%);
  border: 1px solid hsl(223, 64%, 98%);
  border-radius: 10px;
  margin: 0 65px;
  padding: 10px 40px;
}
.plus {
  margin-right: 15px;
  padding-right: 15px;
}
.minus {
  margin-left: 15px;
  padding-left: 15px;
}
.add {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(26, 100%, 55%);
  border-radius: 10px;
  margin: 0 65px;
  padding: 10px 40px;
}
.remove img {
  color: hsl(220, 13%, 13%);
}

@media only screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: row;
  }

  .nav {
    display: flex;
    margin: 5px;
  }
  .specific-product-page {
    flex-direction: row;
  }

  .product-image {
    height: 600px;
    width: 600px;
    justify-content: space-between;
    align-items: center;
  }
  .specific-product-content {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
  }
  h3 {
    font-size: 18px;
  }

  h2 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
  }

  p {
    font-size: 18px;
  }

  .discounted-price {
    margin: 5px;
    padding-right: 5px;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    font-size: 18px;
  }
  .original-price {
    margin-left: 40px;
  }

  .counter-container {
    display: flex;
    margin: 0 45px;
    padding: 10px 20px;
  }
  .plus {
    margin-right: 20px;
    padding-right: 20px;
  }
  .minus {
    margin-left: 20px;
    padding-left: 20px;
  }
}
