* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.avatar {
  height: 30px;
  width: 30px;
}
.cart {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  width: 30px;
  height: 30px;
}

.ShoppingCart {
  font-size: 16px;
  width: 200px;
  height: 300px;
  border: 0.5px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  margin: 10px;
}
.product-image {
  height: 400px;
  width: 400px;
}
h3 {
  font-size: small;
  font-weight: 400;
  color: hsl(26, 100%, 55%);
}
p {
  font-weight: 400;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
}
